.pt-0 {
    background-color: #38A3CA;
    margin-left: 5px !important;
}

.c-wrapper{
    background-color: white;
}

.c-header-nav{
    margin-top: -15px;
}

.c-header-brand{
    margin-top: -10px;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: aqua !important;
}

.nav-link{
    color:#3c4b64;
}