.patientVisitTopTabPanels{
    min-height: 63vh;
    max-height: 63vh;
    overflow-y: auto;
}

.patientVisitBottomTabPanels{
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    white-space: nowrap;
    margin-bottom: 5px;
}

.patientVisitTopTabs button{
    border-radius: 10px;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;

    color: #fff;
    border: 1px solid transparent;
    background-color: #38A4CA;
}

.patientVisitTopTabs button.Mui-selected{
    color: #000;
    background-color: #43D4FF;
}
.patientVisitBottomTabs button:nth-child(1) {
    margin-left: 10px;
}

.patientVisitBottomTabs button{
    font-weight: 500;
    max-width: 80px;
    min-width: 80px;
    max-height: 40px !important;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px 5px 10px 10px;
    border: 1px solid;
    letter-spacing: 1px;
    font-size: 8pt;
    border-color:slategray;
    text-transform: capitalize;
    margin-bottom: 5px;
    
    z-index: 1;    
   transform:matrix3d(1,0,0.00,0,0.00,1.2,0.00,-0.002,0,0,1,0,0,0,0,1);
   -webkit-transform:matrix3d(1,0,0.00,0,0.00,1,0.00,-0.006,0,0,1,0,0,0,0,1);
    
    color: #970E53;
    background-color: #D5D5D5;
}
.patientVisitBottomTabs button.Mui-selected{
    color: #017100;
    background-color: #fff;
    z-index: 2;
}