// Here you can add other styles
.c-main
{
    padding-top: 0.5rem !important;
}
.chipHover{
    &:hover{
        color: white;
        background-color: #303f9f;
    }
}

.legend {
    margin: 10px;
    position: relative;
    font-size: 0.5rem;
}

legend {
    border: 0;
    padding: 0;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.legend:before {
    content: "";
    border-top: 1px #ccc solid;
    position: absolute;
    top: 14px;
    width: 98%;
}

.legend span.legendLabel {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    padding: 5px 6px;
    margin-left: 25px;
    position: relative;
}

.legendLabel {
    background: #eee;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 3px 0;
    border-radius: 3px;
    border: 3px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.MuiFormControl-root, .MuiInputBase-root 
{
    width:100%;
    padding: 0px 0px 5px 0px !important;
    border-color: #51A5D5 !important;
    color: #5E5E5E !important;
    border-width: 1 pt !important ;


}

.formMargins{
    margin: 0px 0px 0px 3px !important;
}

.MuiOutlinedInput-input {
    padding: 12px 10px !important;
}

.srv-validation-message
{
    color:red;
    padding-bottom: 10px;
}
.MuiFormControl-marginNormal{
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-bottom: -10px !important;
}
.scrollable-body{
    overflow-y: scroll;
    height: 275px;
}
.setMarginBottom{
    margin-bottom: 10px;
}
.MuiPaper-rounded{
    padding: 10px;
}
.MuiAccordionSummary-root.Mui-expanded{
    background-color: #f2f2f2;
}
.makeStyles-appointment-690{
    background-color: rgb(40, 55, 66) !important;
}
.sidebar-minimized .sidebar .nav-dropdown-items .nav-link .badge {
    display: inline;
}
.setMargins{
    margin: 20px ​0px 0px -40px !important;
}
.nav-link{
    padding: 0.5rem 0.1rem;
}
.MuiDrawer-paperAnchorRight{
    background-color: #ebedef !important;
}
@media only screen and (max-width: 767px) {
    .ui.mini.modal{
        margin: 60% 2% !important;
        height: 180px;
    }
    .addbtn {
        color: #198754;
        border-color: #198754;
        line-height: 2.5 !important;
    }
    
    
}

@media only screen and (min-width: 700px)
{    
    .ui.mini.modal{
        margin: 20% 40% !important;
        height: 180px;
    }
    .toolBarCss{
        // background-color: darkgray;
         padding: 5px;
         border-radius: 5px;
         margin-bottom: 5px;
         position: sticky;
         top: 104px;
         z-index: 10;
         background-color: #ced2d8;
         width: 100% !important;
    }
    .MuiTab-root{
        min-width: 20% !important;
        
    }
    .addbtn {
    color: #198754;
    border-color: #198754;
    line-height: 2.5 !important;
    margin-top: 9px;
    
    }
    
    .modal-content {
    left: -14.5rem;
        right: 0.5rem;
        top: 2.5rem;
        bottom: 2.5rem;
        width: 173%;
    }
    .btnp{
        flex: 0 0 0.33333%  !important;
        max-width: 8.33333%  !important;
    }
}

@media only screen and (min-width: 250px) {
    @media only screen and (max-width: 500px){ 
        .ui.mini.modal{
            width: 40% !important;
            margin: 45% 30% !important;
            height: 180px;
        }
        .toolBarCss{
            // background-color: darkgray;
             padding: 5px;
             border-radius: 5px;
             margin-bottom: 5px;
             position: -webkit-sticky!important;
             position: sticky;
             top: 160px;
             z-index: 10;
             background-color: #ced2d8;
             width: 100% !important;
            
         }
         .addbtn {
            color: #198754;
            border-color: #198754;
            line-height: 2.0!important;
        }
    }
}

.tabs{
    width :20% !important;
}
.MuiTab-root{
    min-width: 20% !important;
    overflow: hidden;
}
.modal-body {
    padding: 0rem;
}
.react-switch {
    vertical-align: middle;
    margin-left: 4px;
  }
.MuiSvgIcon-root{
    font-size: 3.0rem;
  }

.MuiTab-wrapper{
    font-size: 16px;
}
.MuiTouchRipple-root {
    font-size: 2.25rem;
}
.required{
    color: #e55353;
}


/*.btn-primary{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 20px;
  }
*/

.MuiStepper-alternativeLabel {
    align-items: flex-start;
    overflow: scroll;
    //position: sticky;
    top: 172px;
    z-index: 15;
}
.MuiAccordionDetails-root {
    display: block !important ;
    padding: 8px 0px 0px !important;
}

.MuiBox-root{
    padding: 5px !important;
}

.MuiTabs-scroller {
    background-color: white !important;
}

.c-header {
    background: #43D4FF !important;
    // border-bottom-right-radius: 132px !important;
    // border-bottom-left-radius: 132px !important;
    //  height: 123px;
    height: 90px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
   // background-color: #43D4FF;
    max-height: 60px;
}

.c-sidebar-nav {
background-color: #38A3CA;

}
.c-sidebar-nav-icon{
    color: #5E5E5E !important;
}

.c-sidebar-nav-link
{
   color: #5E5E5E !important;
   opacity: 100% !important;
   
}
.c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
background-color: #38A3CA !important;
}

.table thead th {
    background: #38A3CA !important;
    font-family: sans-serif !important;
}

.body-container {
    border: 3px solid #51A5D5!important;
    box-shadow: 0px 0px 10px hsl(202, 61%, 58%);  
    border-radius: 10px;
    padding: 5px;
}

.table{
    color: #212529 !important;
    //font-family: sans-serif !important;
    //font-size: 15px !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    font-family: var(--font-family-sans-serif) !important;
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300 !important;
    line-height: 1.2;
    //color: rgb(94, 94, 94)!important;
    //font-family: sans-serif !important;
}

.modal-body {
    padding: 1rem;
}

body{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.MuiInputLabel-outlined{
    font-family: Arial, Helvetica, sans-serif !important;
}

label {
    font-family: Arial, Helvetica, sans-serif !important;
}
.c-app {
    --primary: #34aadc  !important;
}
.labelstyle{
    font-weight: 500  !important;
    font-size: 16px !important; 
}

.MuiInputBase-input {
    color: #212529  !important;
    font-family: Arial, Helvetica, sans-serif  !important;
    font-weight: 500  !important;
}

.btn-outline-info {
    color: #fff !important;
    border-color: #39f !important;
    background-color: #39f !important;
    float: right !important;
    min-width: 56px !important;
}
.btn-pill {
    border-radius: 0em !important;
}

.nextbtn{
float: right !important;
min-width: 56px !important;
}
.btn-outline-danger {
    background-color: #e55353;
    border-color: #e55353;
     min-width: 56px !important;
     color: #fff !important;
      float: right !important;
}

 
.Mui-Focused {
     color: #51A5D5 !important;
 }    


