.MuiStepper-alternativeLabel{
    overflow: auto;
}
.MuiStepper-root{
    padding: 0px !important;
}

span .MuiStepLabel-label {
    font-weight: bolder !important;
}

.MuiStepIcon-root.MuiStepIcon-root{
    color: #970E53 !important;
}

.MuiStepLabel-root .MuiStepLabel-alternativeLabel {
    color: #970E53;
}

span .MuiStepLabel-completed, .MuiStepIcon-root.MuiStepIcon-completed{
    color: #017100 !important;
}

span .MuiStepLabel-active, .MuiStepIcon-root.MuiStepIcon-active{
    color: #3f51b5 !important;
}